server:
  port: 8765

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname}:8761/eureka/

spring:
  freemarker:
    prefer-file-system-access: false
  application:
    name: service-feign
  zipkin:
    base-url: http://127.0.0.1:9411/

feign:
  hystrix:
    enabled: true

